@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
	font-family: 'Merriweather', serif;
}

header {
	background-color: #B2FEFA;
	height: 50px;
}

nav a {
	text-decoration: none;
	color: inherit;
	margin-right: 20px;
	font-size: 13px;
}

#hero {
	background-color: #B2FEFA;
	height: 300px;
	text-align: center;
}

h1 {
	font-weight: lighter;
	font-size: 60px;
}

h2 {
	font-weight: lighter;
	font-size: 35px;
}


.caption {
	font-size: 13px;
}