@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre:400,600');

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}


body {
	font-family: 'Quicksand', sans-serif;
	font-size: 16px; /*1em = 16px*/
}

header {
	background-color: blue;
	max-width: 1200px;
/*    margin: auto;*/
}

header img {
	width: 5em;
	float: left;
	padding: 2em 0;
}

nav {
	float: right;
	padding: 2em 0;
}

nav a {
	color: #fff;
	margin: 0 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: .9em;
	font-weight: lighter;
	text-decoration: none;
	display:inline-block;
	padding:1em;
}


h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 2em;
	font-weight: 300;
	color: white;
	width: 66.66%;
}

h1 span {
	font-size: 2em;
}

h2{
	font-family: 'Abhaya Libre', serif;
	font-size: 2em;
	font-weight: 400;
}

h3{
	font-family: 'Abhaya Libre', serif;
	font-size: 1.5em;
	font-weight: 400;
}

p {
	line-height: 1.5em;
}

hr{
	border:none;
	height:4px;
	background-color: #42C6C6;
	width:2.5em;
	margin: 1.5em 1.5em;
}


footer {
	background-color: #eee;
	clear: both;
	padding: 2em 2em;
}

footer a {
	float: right;
	text-decoration: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

#hero {
	background-color: #42C6C6;
	padding: 10em 0;
}


.services {
	background: #eee;
	padding: 3em 0;
}

.services section {
	width: 33.33%;
	float: left;
	padding: 1.5em 1.5em;
}

.services img {
	width: 100%;
	padding: 0 7em 1.5em 0;
}

.services h4 {
	padding: 1em 0;
}

.work {
	padding: 3em 0;
}

.work div {
	width: 33.33%;
	float: left;
	padding: 1.5em 1.5em;
	min-height: 27em
}

.work .work-wide {
	width: 66.66%;
}

.work img {
	width: 100%;
	height: 369px;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

.work a {
	color: #7a7a7a;
	padding-bottom:5px;
	border-bottom: 2px solid #7a7a7a;
	text-decoration: none;
	text-transform: uppercase;
}

.work a:hover {
	color: #000;
	padding-bottom:5px;
	border-bottom: 2px solid #42C6C6;
	text-decoration: none;
	text-transform: uppercase;
}

