@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre:400,600');

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}


body {
	font-family: 'Quicksand', sans-serif;
	font-size: 16px; /*1em = 16px*/
}

header {
	background-color: #42C6C6;
	position: relative;
}

header img {
	width: 5em;
	position: absolute;
	left: 1em;
	top: 50%;
	transform: translateY(-50%);
}
nav {
	float:right;

}
nav a {
	color: #fff;
	margin: 0 20px;
		text-align: center;
		text-transform: uppercase;
		font-size: .9em;
		font-weight: lighter;
		text-decoration: none;
	display:inline-block;
	padding:1em;
}


h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 2em;
	font-weight: 300;
	color: white;
	width: 25em;
}
h1 span {
	font-size:2em;
}
h2, h3{
	font-family: 'Abhaya Libre', serif;
	font-size: 1.5em;
	font-weight: 400;
}

p {
	line-height: 1.5em;
}


footer {
	background-color: #eee;
	clear: both;
	padding: 2em 2em;
}

footer p {
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

#hero {
	background-color: #42C6C6;
	height: 400px;
	padding-top: 80px;
	padding-left: 120px;
}

/*.services {
	margin: 3em 0;
	background: #ddd;
}*/

.services {
	background: #eee;
	padding: 5em 0;
}

.services section {
	width: 33.33%;
	float: left;
	padding: 0 2em;
}

.services img {
	width: 100%;
	padding: 0 7em 0 0;
	/* display: block; */
	/* margin: auto; */
}

.services h4 {
	padding: 1em 0;
}

/*.work {
	padding: 5em 0;
}*/

.work div {
	width: 25%;
	float: left;
	padding: 1em;
}

.work img {
	width: 100%;
}

.wrapper {
    width: 1100px;
    margin: auto;
}
