@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
	font-family: 'Merriweather', serif;
}

header {
	background-color: #FFED74;
	height: 50px;
	border: 1px black solid;
	padding: 20px;
}

nav{
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

nav a {
	text-decoration: none;
	color: inherit;
	margin-right: 20px;
	font-size: 13px;
}

h1 {
	font-weight: lighter;
	font-size: 60px;
}

h2 {
	font-weight: lighter;
	font-size: 35px;
}

div,section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

#hero {
	background-color: #B2FEFA;
	height: 300px;
	text-align: center;
}

.caption {
	font-size: 13px;
}