h1, h3, h4 {
	font-family: "Open Sans", sans-serif;
}

p {
	font-family: "Open Sans", sans-serif;
}

header {
	background-color: #D7E2E2;
	height: 50px;
}

nav a {
	font-family: "Open Sans", sans-serif;
	text-decoration: none;
}

#hero {
	background-color: #D7E2E2;
	height: 300px;
	text-align: center;
}