h1 {
	font-family: "Proxima Nova", sans-serif;
	font-weight: lighter;
	font-size: 60px;
}

h2 {
	font-family: "Proxima Nova", sans-serif;
	font-weight: lighter;
	font-size: 35px;
}

h3, h4 {
	font-family: "Proxima Nova", sans-serif;
}

p {
	font-family: "Proxima Nova", sans-serif;
}

header {
	background-color: #D7E2E2;
	height: 50px;
}

nav a {
	font-family: "Proxima Nova", sans-serif;
	text-decoration: none;
	color: inherit;
	margin-right: 20px;
	font-size: 13px;
}

#hero {
	background-color: #D7E2E2;
	height: 300px;
	text-align: center;
}